@import url('https://fonts.googleapis.com/css2?family=Joan&family=Nerko+One&family=Poppins:ital,wght@1,500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nerko One', cursive, 'Roboto', sans-serif, 'Joan', serif;
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}